<nav>
    <h1 class='nav title'><a href="/">Members Only</a></h1>
    <% if (currentUser) { %>
        <ul class='nav links'>
            <li class='nav buttons'><a href="/users/sign-out">Sign Out</a></li>
            <li class='nav buttons'><a href="/create-post">Create a post</a></li>
        </ul>
    <% } else { %>
        <ul class='nav links'>
            <li class='nav buttons'><a href="/users/sign-up">Sign Up</a></li>
            <li class='nav buttons'><a href="/users/sign-in">Log In</a></li>
        </ul>  
    <% } %> 
</nav>