<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %> 
	<body>
		<%- include('./partials/nav.ejs') %> 
		<div class="notfound body">
			<h2 class="notfound title"><%= title %> </h2>
		</div>
	</body>
</html>
