a {
	text-decoration: none;
	color: inherit;
}
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 5rem;
	max-width: 100vw;
	border: solid 3px black;
}
.nav.title {
	font-size: 2em;
	padding: 1rem;
}
.nav.title:hover {
	cursor: pointer;
}
.nav.links {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	font-size: 1.1em;
}
.nav.buttons {
	background-color: black;
	padding: 1rem;
	color: white;
	font-weight: bold;
}
.nav.buttons:hover {
	cursor: pointer;
	background-color: #b30404;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
}
.posts.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem 0;
}
.posts.title {
	font-size: 1.8em;
	margin-bottom: 5rem;
	border-bottom: solid 3px black;
}
.single.item {
	width: 50%;
	border-left: solid 3px #b30404;
	padding: 0 3rem;
	border-radius: 3px;
}
.single.item:hover {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
}
.posts.unavailable {
	margin-bottom: 2rem;
}
.details.body {
	font-size: 1.5em;
	width: 50%;
}
.details.button {
	width: 50%;
	display: flex;
	justify-content: flex-end;
}
.delete.nav.buttons {
	border: transparent;
}
